@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-pro: #fc7300;
  --color-sdo: #1f8a70;
  --color-tro: #00425a;
  --color-cto: #181823;
  --color-qto: #eff5f5;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Belanosima', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--color-qto);
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

/*Mobile first*/

body {
  width: 320px;
  margin: 0;
  margin: 0;
  background-color: var(--color-qto);
}

/* header */
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
li {
  display: block;
  background-color: var(--color-tro);
  text-align: center;
  padding: 0.2em 0;
  width: 100vw;
}

nav ul li {
  transition: 1s;
}

nav ul li:hover {
  background-color: var(--color-sdo);
  transition: 1s;
}

.titulo {
  background-image: url(img/header-fondo-cel.jpg);
  background-size: cover;
  background-position-y: 35%;
  height: 100px;
}

h1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--color-tro);
  text-shadow: 1px 1px 2px var(--color-cto);
  margin: 0;
  font-size: 1em;
}
/* main */

section {
  margin-bottom: 4em;
}

.subir {
  color: var(--color-cto);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 1em;
}

h2,
h3 {
  color: var(--color-pro);
  padding: 0 0.5em;
}

.img-izq {
  height: 100px;
  float: left;
  margin: 0 0.5em;
}

.img-der {
  height: 100px;
  float: right;
  margin: 0 0.5em;
}

p {
  padding: 0 0.5em;
  color: var(--color-cto);
}

.flex-centro {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.img-propuesta {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-self: center;
  transition: 1s;
}

.txt-propuesta {
  text-align: center;
  transition: 1s;
}

.img-txt-propuesta {
  display: grid;
}

.img-propuesta:hover {
  scale: 1.2;
  box-sizing: border-box;
  border-radius: 20%;
  transition: 1s;
}

.flex-noticias {
  display: flex;
}

/* footer */

footer {
  background-color: var(--color-tro);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer div a {
  font-size: 10px;
  margin: 5px 0;
}

footer div a img {
  margin-right: 3px;
}

.redes,
.contacto {
  display: flex;
  flex-direction: column;
}

.redes,
.contacto,
.mapa {
  margin-bottom: 1em;
}

h4 {
  text-align: center;
  color: var(--color-qto);
}

.icono {
  width: 20px;
  vertical-align: middle;
}

.a-footer:hover {
  text-shadow: 1px 1px 2px var(--color-cto);
}

/*Formulario*/

form {
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

label {
  margin-top: 0.5em;
}

button {
  background-color: var(--color-tro);
  color: var(--color-qto);
  width: 20vw;
  margin: 1em 0;
  align-self: end;
}

::placeholder {
  color: var(--color-qto);
}

input:required {
  background-color: var(--color-sdo);
  transition: 1s;
  color: var(--color-qto);
}

input:required:hover {
  transition: 1s;
}

input:required:invalid {
  background-color: var(--color-pro);
}

textarea:required {
  background-color: var(--color-sdo);
  transition: 1s;
  color: var(--color-qto);
}

textarea:required:hover {
  transition: 1s;
}
textarea:required:invalid {
  background-color: var(--color-pro);
}

.btn {
  float: right;
}

@media screen and (min-width: 320px) {
  body {
    width: 100vw;
  }

  html {
    font-size: smaller;
  }

  .flex-noticias {
    flex-direction: column;
  }

  .noticia {
    width: 100%;
  }

  footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .form-label,
  .form-control,
  .btn {
    font-size: smaller;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin: 0 auto;
  }

  html {
    font-size: medium;
  }

  ul {
    width: 768px;
  }

  h1 {
    font-size: 2em;
    text-shadow: 1px 1px 1px var(--color-sdo);
  }

  .img-izq,
  .img-der {
    height: 150px;
  }
  .subir-none {
    display: none;
  }

  .flex-centro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    font-size: smaller;
  }

  .img-propuesta {
    height: 80px;
    width: 80px;
  }

  h4 {
    font-size: larger;
  }

  .noticia {
    width: 50%;
  }

  .flex-noticias {
    flex-direction: row;
  }

  .curved {
    position: relative;
    background: var(--color-qto);
    height: 20vh;
  }

  .curved::after {
    content: '';
    border-top-left-radius: 50% 200%;
    border-top-right-radius: 50% 200%;
    position: absolute;
    bottom: -2px;
    width: 100%;
    background: var(--color-tro);
    height: 30%;
  }

  footer {
    flex-direction: row;
  }
  footer div a {
    font-size: medium;
  }

  iframe {
    width: 200px;
    height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }

  ul {
    width: 1024px;
  }

  form {
    margin: 0 5em;
  }
}
